<script>
  var dateChange = 0;

   $('document').ready( function(){
      getDate();
      showSpin();

    });

   window.onload = function(){
     $("#re").css("visibility","visible");

    google.script.run.withSuccessHandler(getProjectData)
        .project_data();
   }

  var script_url = 'https://script.google.com/a/taqitz.com/macros/s/xxxxxxxxxxxxxxxxxxxxxxxxxxx/exec'; // <-- INSERT CURRENT WEB APP URL (FROM PUBLISHING THE code.gs SCRIPT IN THE SHEET) -->

  function showSpin(){
    $("#re").css("visibility","hidden");
    document.getElementById("loader").style.visibility = "visible";
    $('#mySpinner').addClass('spinner');
  }

  function newDate(a) {
    var cDate = new Date($('#today').text()),
        nDate = new Date(cDate);

    if(a=='right') {
      nDate.setDate(nDate.getDate() + 1);
      dateChange = dateChange + 1;
    } else {
      nDate.setDate(nDate.getDate() - 1);
      dateChange = dateChange - 1;
    }

    if(dateChange == 14){
      $('#right').css('visibility', 'hidden');
    } else if(dateChange == -14) {
      $('#left').css('visibility', 'hidden');
    } else {
      $('#right').css('visibility', 'visible');
      $('#left').css('visibility', 'visible');
    }


    var dd = nDate.getDate(),
        mm = (nDate.getMonth()+1),
        yyyy = nDate.getFullYear();

      if(dd<10) {
          dd = '0'+dd
      }

      if(mm<10) {
          mm = '0'+mm
      }

    today = mm + '/' + dd + '/' + yyyy;

    $('#today').html(today);

  }

  function getDate() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

      if(dd<10) {
          dd = '0'+dd
      }

      if(mm<10) {
          mm = '0'+mm
      }

    today = mm + '/' + dd + '/' + yyyy;

    $('#today').html(today);
  }

  function change_hours(){

  }

  function getProjectData(projectdata){
    var list = $('#main');
    list.empty();

    for(var i = 0; i < projectdata.length; i++){
      list.append("<div class='row'> \
                    <div id='pName" + (i+1) + "'class='col-10 projName'>" + projectdata[i].project_name + "</div> \
                   </div> \
                   <div class='row'> \
                    <div class='col-12 slider'><input type='range' min='0' max='8' step='0.25' onchange='updateTextInput(this.value," + (i+1) + ");' /></div> \
                      <div class='col-10 numInput'><input  id='textInput" + (i+1) + "' name='textInput1' proj='" + projectdata[i].project_ID + "' type='number' min='0' max='24' step='0.25' class='numtext' value='' />hours</div> \
                      </div> \
                    </div>");
    }
    list.append("<span id='count' len='" + projectdata.length + "'></span><style>#projName{text-align: center;}</style>");
  }

  function updateTextInput(val, num) {
    var runTotal = 0;
      $('#textInput' + num).val(val);
        for(z = 1; z <= $('#count').attr('len'); z++){
          var newNum = $('#textInput' + z).val();
          if(newNum.length >0){
            runTotal = (runTotal + parseFloat(newNum));
          }
        }

      $('#runTotal').html(runTotal);
      if(parseInt($('#runTotal').text()) > 23){
        alert('Your total hours must be less than 24');
      }
    }

  function ctrlq(e) {
    alert(e.result);
  }

  // Make an AJAX call to Google Script
  function insert_value() {
    $('#placeholder').html("<div id='cover'><div id='loader'></div></div>");

     document.getElementById("loader").style.visibility = "visible";
    $('#mySpinner').addClass('spinner');

      var tab = $('#name').attr('email');
      var date = $('#today').html();

      var projArray = [];
      var hoursArray = [];
      var pNamesArray = [];

      for(a = 1; a <= $('#count').attr('len'); a++){
        if($('#textInput'+a).val() !=0){
          projArray.push($('#textInput' + a).attr('proj'));
          hoursArray.push($('#textInput' + a).val());
          pNamesArray.push($('#pName'+a).text());
        }
      }

      if(projArray.length <1){
        $('#cover').remove();
        alert('You must enter some time prior to submitting.');
      }

    function getSum(total, num) {
      return parseFloat(total) + parseFloat(num);
    }

    function totalHours(item) {
      return hoursArray.reduce(getSum);
    }

    for(b = 0; b<hoursArray.length; b++){
      if(b == 0){
        var confirmTxt = "<tr><td>" + pNamesArray[b] + "</td><td>" + hoursArray[b] +"</td></tr>";
      } else {
        var confirmTxt = confirmTxt + "<tr><td>" + pNamesArray[b] + "</td><td>" + hoursArray[b] +"</td></tr>";
      }
    }

    if(parseInt($('#runTotal').text()) > 23){
      $('#cover').remove();
      alert("YOUR TIME WAS NOT SUBMITTED! Please enter no more than 24 before submitting");
    } else {
      var url = script_url+"?callback=ctrlq&sheet="+tab+"&date="+date+"&proj="+projArray+"&hours="+hoursArray+"&action=insert";
      var request = $.ajax({
        crossDomain: true,
        url: url ,
        method: "GET",
        dataType: "jsonp",
        success: function(){
                 $('#cover').html("SUCCESS!</br><table><tr><b><td>Project</td><td>Hours</td></b></tr>" + confirmTxt + "</table>");
                  window.location.hash = 'cover';
                 },
        error: function(XMLHttpRequest, textStatus, errorThrown){
          if(textStatus == 'parsererror'){
            $('#cover').css('opacity', '1').html("SUCCESS!</br><table><tr><b><td>Project</td><td>Hours</td></b></tr>" + confirmTxt + "</table>");
            window.location.hash = 'cover';
          } else {
          console.log("Status: " + textStatus); console.log("Error: " + errorThrown);}
          }
      });
    }
  }

</script>
